# IntelliJ IDEA
.idea/
*.iml
out/

# Java
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
.mtj.tmp/
hs_err_pid*
replay_pid*

# Maven / Gradle
target/

# VS Code
.vscode/
.history/

# Sistema
.DS_Store
